In [1]:
%matplotlib widget
import sys
sys.path.append('/Users/ndmiles/ClassWork/FallQuarter2021/aos_c204/aos_c204_final_project')


import matplotlib.pyplot as plt
plt.style.use('ggplot')
import numpy as np
import pandas as pd

from utils import generate_data_chunks

In [2]:
df = pd.read_csv('../utils/sta_dataset_labels.txt', header=0)

In [3]:
df.head()

                                               fname  label
0  sta_ts_interval_2007-01-02_00_02_00_to_2007-01...      0
1  sta_ts_interval_2007-01-03_00_02_00_to_2007-01...      0
2  sta_ts_interval_2007-01-04_00_02_00_to_2007-01...      0
3  sta_ts_interval_2007-01-05_00_02_00_to_2007-01...      0
4  sta_ts_interval_2007-01-06_00_02_00_to_2007-01...      0

In [26]:
random_sample = df.sample(10)

In [27]:
random_sample

                                                  fname  label
927   sta_ts_interval_2009-10-20_00_02_00_to_2009-10...      0
76    sta_ts_interval_2007-04-22_00_02_00_to_2007-04...      0
939   sta_ts_interval_2009-11-01_00_02_00_to_2009-11...      1
1226  sta_ts_interval_2010-08-18_00_02_00_to_2010-08...      1
986   sta_ts_interval_2009-12-18_00_02_00_to_2009-12...      0
2124  sta_ts_interval_2013-10-12_00_02_00_to_2013-10...      0
1905  sta_ts_interval_2012-09-04_00_02_00_to_2012-09...      0
1438  sta_ts_interval_2011-04-07_00_02_00_to_2011-04...      0
956   sta_ts_interval_2009-11-18_00_02_00_to_2009-11...      0
276   sta_ts_interval_2007-12-15_00_02_00_to_2007-12...      0

In [40]:
def plot_ts(fname, label):
    df = pd.read_csv(f"../data/sta_chunks/{fname}", header=0, index_col=0, parse_dates = True)
    fig = generate_data_chunks.visualize_chunk_ts(df, cols=df.columns, icme=label)
    return fig, df

In [41]:
idx = 1226
fname, label = random_sample.fname.loc[idx], random_sample.label.loc[idx]
fig, df = plot_ts(fname,label)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [50]:
def plot_img(fname, label, cols=None):
    img_dict = dict()
    img = np.load(f"../data/sta_chunks/{fname.replace('ts','img').replace('.txt','.npy')}")
    for i, col in enumerate(cols):
        img_dict[col] = [img[i]]
    fig = generate_data_chunks.visualize_chunk_img(img_dict)
    return img
#     fig = generate_data_chunks.visualize_chunk_img

In [51]:
fig = plot_img(fname,label, cols = df.columns)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …